body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(1, 17, 65);
  background-image: url("../images/body-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #ece441;
}
h1 {
  display: none;
  font-weight: bold;
}
h2 {
}

.logo {
  translate: -40px -40px;
}
