body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(1, 17, 65);
  background-image: url("../images/body-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #ece441;
}
h1 {
  display: none;
  font-weight: bold;
}
h2 {
}

.logo {
  translate: -40px -40px;
}

.section-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;

  gap: 1rem;
}

/* .section-header img {
  position: relative;
  top: -10px;
  left: 15px;
} */

.section-header h2 {
  position: relative;
  padding-left: 2rem;
  border-bottom: 3px solid;
}

.section-header h2::before {
  content: "";

  position: absolute;
  bottom: -5px;
  left: -5px;

  display: block;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #ece441;
}
